section.HomeComponent {
  height: 100%;
  background-color: #c3c3c3;
  .cadastro-veiculo {
    form {
      display: flex; /* Make the form items display horizontally */
      flex-wrap: wrap; /* Allow items to wrap to multiple lines if needed */
      /* Add spacing between form elements */
      margin: 0 auto; /* Center the form horizontally */
      padding: 20px;
      gap: 10px;
    }
    input[type="file"]#img {
      width: auto;
    }
    h2 {
      padding-top: 20px;
      font-weight: 600;
      transition: color 0.25s;
      &:hover {
        color: rgb(18, 33, 250);
      }
    }
    mat-form-field {
      /* Adjust width as needed for your layout */
      width: calc(25% - 10px); /* Example: 50% width with 10px margin */
      margin-bottom: 15px; /* Add spacing between form fields */
    }
    button[mat-raised-button] {
      /* Adjust width and margin as needed */
      width: 200px; /* Example: Full width button */
      margin: 0 auto;
      margin-top: 15px;
    }
  }
  .lista-veiculos {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    padding: 10px;
    gap: 10px;
    .example-card {
      img {
        width: 200px;
        height: auto;
        aspect-ratio: 16/9; /* Define a proporção da imagem */
        object-fit: contain; /* A imagem cabe dentro do container sem ser cortada */
      }
      mat-card-header {
        height: 200px;
      }
      mat-card-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          p.preco,
          .mat-typography p {
            margin: 0;
          }
        }
        .buttons {
          display: flex;
          justify-self: end;
        }
      }
    }
  }
}
